.playPause {
  width: 40px;
  border: 1px solid black;
  margin: 3px 7px;
}
.playPause .light {
  width: 4px;
  height: 4px;
  background: grey;
  margin: 2px auto;
  display: block;
}
.playPause.on .light {
  background: red;
}
.segments {
  padding: 10px;
}
.segments .beat {
  float: left;
}
.segments .beat .currentBeat {
  width: 4px;
  height: 4px;
  margin: 3px 7px;
  background: darkred;
}
.segments .beat .button {
  padding: 3px;
  border: 1px solid black;
  margin: 3px;
}
.segments .beat .button .light {
  width: 4px;
  height: 4px;
  background: grey;
  margin: 2px auto;
  display: block;
}
.segments .beat.hard .light {
  background: red;
}
.segments .beat.soft .light {
  background: orange;
}
.segments .beat.on .currentBeat {
  background: red;
}
