/*.width( @number ) {
	width: ( percentage( @columns, @number ) - percentage( @columns, ( ( @number - 1 ) * @margin ) ) );
}
*/
body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.drummachine {
  background: url(../images/bg/noise-f1.gif);
  padding: 30px;
}
.playPause {
  float: left;
  width: 19%;
  border: 1px solid black;
  margin: 3px 7px;
}
.playPause .light {
  width: 4px;
  height: 4px;
  background: grey;
  margin: 2px auto;
  display: block;
}
.playPause.on .light {
  background: red;
}
.segments {
  padding: 10px;
}
.segments .beat {
  float: left;
}
.segments .beat .currentBeat {
  width: 4px;
  height: 4px;
  margin: 3px 7px;
  background: darkred;
}
.segments .beat .button {
  padding: 3px;
  border: 1px solid black;
  margin: 3px;
}
.segments .beat .button .light {
  width: 4px;
  height: 4px;
  background: grey;
  margin: 2px auto;
  display: block;
}
.segments .beat.hard .light {
  background: red;
}
.segments .beat.soft .light {
  background: orange;
}
.segments .beat.on .currentBeat {
  background: red;
}
