/*.width( @number ) {
	width: ( percentage( @columns, @number ) - percentage( @columns, ( ( @number - 1 ) * @margin ) ) );
}
*/body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dummyGrid {
  float: left;
  width: 8.058333333333334%;
  margin-right: 0.3%;
  display: block;
  height: 30px;
  background: blue;
}
.dummyGrid.last {
  margin-right: 0;
}
.dummyGrid.last:after {
  display: table;
  content: " ";
  clear: both;
}
.drummachine {
  background: url(../images/bg/noise-f1.gif);
}
.playPause {
  float: left;
  width: 24.775000000000002%;
  margin-right: 0.3%;
  height: 60px;
  border: 1px solid black;
}
.playPause .light {
  width: 4px;
  height: 4px;
  background: grey;
  margin: 2px auto;
  display: block;
}
.playPause.on .light {
  background: red;
}
.meta {
  float: left;
  width: 49.85%;
  margin-right: 0.3%;
  height: 60px;
}
.tempo {
  float: left;
  width: 24.775000000000002%;
  height: 60px;
}
.tempo:after {
  display: table;
  content: " ";
  clear: both;
}
.segments {
  padding: 10px;
  float: left;
  width: 66.56666666666666%;
  margin-right: 0.3%;
}
.segments .beat {
  float: left;
}
.segments .beat .currentBeat {
  width: 4px;
  height: 4px;
  margin: 3px 7px;
  background: darkred;
}
.segments .beat .button {
  padding: 3px;
  border: 1px solid black;
  margin: 3px;
}
.segments .beat .button .light {
  width: 4px;
  height: 4px;
  background: grey;
  margin: 2px auto;
  display: block;
}
.segments .beat.hard .light {
  background: red;
}
.segments .beat.soft .light {
  background: orange;
}
.segments .beat.on .currentBeat {
  background: red;
}
.beattype {
  float: left;
  width: 33.13333333333333%;
}
