.display {
	text-align: center;
	background: @dark-grey;
	.inner {
		padding: @baseline * 6;
		&:after {
			.clear-float;
		}
	}
	.name {
		background: @dark-grey;
		text-transform: uppercase;
		padding: @baseline;
		margin: 0;
		color: @orange;
		margin: 0;
	}
	.value {
		color: @orange;
		font-size: 2.5em;
	}
	&.red {
		.sleeve {
			background: @red-transparency;
		}
		.value {
			color: @red;
		}
	}
}