.display {
	text-align: center;
	.inner {
		padding: @baseline * 3 @baseline * 6;
		display: flex;
		align-items: center;
		&:after {
			.clear-float;
		}
	}
	.name {
		flex-grow: 1;
		background: @dark-grey;
		text-transform: uppercase;
		padding: @baseline;
		margin: 0;
	}
	.value {
		font-size: 2.5em;
	}
	&.red {
		color: @red-transparency;
		background: @red;
		.expandable {
			color: @dark-red;
			background: @red;
		}
	}
	&.green {
		color: @green;
		background: @green-transparency;
		.expandable {
			color: @dark-green;
			background: @green;
		}
	}
}