@import 'variables.less';
@import 'mixins.less';

//reset

body {
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.drummachine {
    background: url(../images/bg/noise-f1.gif);
    padding: (@baseline * 3);
}

.playPause {
    .width( 3 );
    border: 1px solid black;
    margin: 3px 7px;
    .light {
        .light;
    }
    &.on {
        .light {
            background: red;
        }
    }
}

.segments {
    padding: 10px;
    .beat {
        float:left;
        .currentBeat {
            width: 4px;
            height: 4px;
            margin: 3px 7px;
            background: darkred;
        }
        .button{
            padding: 3px;
            border: 1px solid black;
            margin: 3px;
            .light {
                .light;
            }
        }
        &.hard {
            .light {
                background: red;
            }
        }

        &.soft {
            .light {
                background: orange;
            }
        }
        &.on {
            .currentBeat {
                background: red;
            }
        }
    }
}