@import 'variables.less';
@import 'mixins.less';

//reset

body {
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dummyGrid {
    .width( 1 );
    .margin();
    display: block;
    height: 30px;
    background: blue;
    &.last {
        margin-right: 0;
        &:after {
            .clear-float;
        }
    }
}

.drummachine {
    background: url(../images/bg/noise-f1.gif);
}

.playPause {
    .width( 3 );
    .margin();
    .topRowHeight;
    border: 1px solid black;
    .light {
        .light;
    }
    &.on {
        .light {
            background: red;
        }
    }
}

.meta {
    .width( 6 );
    .margin();
    .topRowHeight;
}

.tempo {
    .width( 3 );
    .topRowHeight;
    &:after {
        .clear-float;
    }
}

.segments {
    padding: 10px;
    .width( 8 );
    .margin();
    .beat {
        float:left;
        .currentBeat {
            width: 4px;
            height: 4px;
            margin: 3px 7px;
            background: darkred;
        }
        .button{
            padding: 3px;
            border: 1px solid black;
            margin: 3px;
            .light {
                .light;
            }
        }
        &.hard {
            .light {
                background: red;
            }
        }

        &.soft {
            .light {
                background: orange;
            }
        }
        &.on {
            .currentBeat {
                background: red;
            }
        }
    }
}

.beattype {
    .width( 4 );
}