//resets
.clear-float(){
	display: table;
	content: " ";
	clear: both;
}

//grid

.width( @number ) {
	float: left;
	width: percentage( ( ( ( ( 100 - ( @gutters * @margin ) ) / @columns ) * @number ) + ( @number - 1 ) * @margin ) / 100 );
}
.margin() {
	margin-right: percentage( @margin / 100 );
}

//style

.topRowHeight() {
	height: @baseline * 6;
}

.light() {
	width: 4px;
	height: 4px;
	background: grey;
	margin: 2px auto;
	display:block;
}