.fader-container {
  background: @light-grey;
  height: 10px;
  position: relative;
  margin: 10px 0;
  border-radius: 5px;
  .fader {
    position: absolute;
    height: 20px;
    width: 20px;
    background: @dark-grey;
    border-radius: 50%;
    top: -5px;
  }
}