.slider-container {
	.slider {
		overflow: hidden;
		position: relative;
		border: 2px solid transparent;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		&.grabbing {
			cursor: -webkit-grabbing;
			cursor: -moz-grabbing;
			.slider-wrapper {
				will-change: true;
			}
		}
		&:after,
		&:before {
			content: '';
			position: absolute;
			width: 33.3%;
			height: 100%;
			background: linear-gradient(to right, @white 0%,rgba(255,255,255,0) 100%);
			top: 0;
			left: 0;
			z-index: 1;
		}
		&:after {
			left: auto;
			right: 0;
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, @white 100%);
		}

		.slider-wrapper {
			height: 50px;
			white-space: nowrap;
			div {
				display: inline-block;
				width: 33.34%;
				text-align: center;
				font-size: 2em;
				line-height: 50px;
				transform: scale(0.6);
				transition: transform 200ms;
				&.selected {
					transform: scale(1);
				}
			}
		}
	}
	input:focus + .slider {
		border-color: @orange;
	}
}