.upload {
  border: 5px dashed @light-grey;
  padding: 20px;
  color: @dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  .upload-cta {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .upload-label {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: @dark-grey;
  }
  .upload-input {
    margin-left: auto;
    margin-right: auto;
    color: @dark-grey;
  }
  &.highlight {
    color: @blue;
    border-color: @blue;
  }
}