.synth-machine {
	padding: @baseline * 6;
	background: @white;
  border: 1px solid @grey-transparency;
  .basic-controls {
    display: flex;
  }
  .oscillator {
    .oscillator-controls {
      display: flex;
      .slider-container {
        width: 90px;
      }
      .rotator {
        width: 45px;
      }
    }
  }
}