.synth-machine {
	padding: @baseline * 6;
	background: @white;
  border: 1px solid @grey-transparency;
  .basic-controls {
    display: flex;
    max-width: 310px;
    margin: 0 auto;
    > * {
      width: 20%;
    }
  }
  .oscillator {
    .oscillator-controls {
      display: flex;
      max-width: 310px;
      margin: 0 auto;
      > * {
        width: 20%;
      }
    }
  }
  .lfo {
    .lfo-controls {
      display: flex;
      max-width: 310px;
      margin: 0 auto;
      > * {
        width: 25%;
      }
    }
  }
  .filter {
    .filter-controls {
      max-width: 310px;
      margin: 0 auto;
    }
  }
  .envelope {
    .envelope-controls {
      max-width: 310px;
      margin: 0 auto;
    }
  }
  .pattern {
    display: flex;
    overflow-x: auto;
    .pattern-item {
      display: none;
      flex-grow: 1;
      .pattern-item-group {
        display: flex;
        align-items: center;
      }
      &.show {
        display: block;
      }
      .key-name {
        flex-grow: 1;
        width: 20px;
      }
      .pattern-beat {
        width: 100%;
        .button {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}