@red: rgb(246,67,12);

@green: rgb(24,189,152);
@green-transparency: rgba(24,189,152,0.3);
@dark-green: rgb(22,61,51);

@dark-grey: rgb(29,29,29);

@black: rgb(0,0,0);

@black-transparency: rgb(0,0,0,0.6);

@white: rgb(205,205,205);