.rotator {
	.knob {
		width: 40%;
		padding-bottom: 40%;
		border-radius: 50%;
		background: @white;
		display: inline-block;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		.grabbing {
			cursor: -webkit-grabbing;
			cursor: -moz-grabbing;
		}
		&:after {
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: @black;
			position: absolute;
			top: 4px;
			left: 50%;
			margin-left: -1px;
		}
	}
	.increase {
		position: absolute;
		clip: rect(0,0,0,0);
	}
	.decrease {
		position: absolute;
		clip: rect(0,0,0,0);
	}
}