.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid @grey;
  background: @white;
  .logo {
    margin-right: 10px;
    h1 {
      margin: 0;
      font-weight: 200;
      a {
        text-decoration: none;
      }
    }
  }
  .tray {
    display: flex;
    .header-link {
      color: @dark-grey;
      text-decoration: none;
      border: 1px solid @grey;
      border-bottom-width: 3px;
      transition: background-color 300ms ease;
      padding: 10px;
      margin: 0 5px;
      font-size: 1.6em;
      line-height: 1.2;
      background: @white;
      cursor: pointer;
      &:hover,
      &:focus {
        background: @grey;
        color: @black;
      }
      &.active {
        border-bottom-color: @black;
        color: @black;
      }
    }
  }
}