.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
  border-bottom: 1px solid @grey;
  background: @white;
  .logo {
    h1 {
      margin: 0;
      font-weight: 200;
      a {
        color: @dark-grey;
        text-decoration: none;
        transition: color 300ms ease;
        padding: 14px 0;
        border: 1px solid;
        border-radius: 50%;
        height: 47px;
        width: 47px;
        display: inline-block;
        text-align: center;
        &:hover,
        &:focus {
          color: @black;
        }
      }
    }
  }
  .tray {
    display: flex;
    .header-link {
      color: @dark-grey;
      text-decoration: none;
      border: 1px solid @grey;
      border-bottom-width: 3px;
      transition: background-color 300ms ease;
      padding: 10px;
      margin: 0 5px;
      font-size: 1.6em;
      line-height: 1.2;
      background: @white;
      &:hover,
      &:focus {
        background: @grey;
        color: @black;
      }
      &.active {
        border-bottom-color: @black;
        color: @black;
      }
    }
  }
}