@import 'variables.less';
@import 'mixins.less';
@import 'fonts.less';

//reset

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: @whiteOne;
}

.drummachine {
	padding: @baseline;
	background: @whiteTwo;
}

//display
.display {
	float: right;
	position: relative;
	.label {
		background: @blackOne;
		color: @whiteOne;
		padding: @baseline * 0.5;
		border-radius: @baseline * 0.5 @baseline * 0.5 0 0;
	}
	&:after {
		.sheen();
	}
}

//screen
.screen {
	padding: @baseline * 0.5 @baseline * 1;
	background: @blackOne;
	border-radius: 0 0 @baseline * 0.5 @baseline * 0.5;
	margin-bottom: @baseline * 0.5;
	.digitsPanel {
		font-size: 3em;
		width: 1.5em;
	}
}

//panel
.digitsPanel {
	.font-digit();
	position: relative;
	margin: 0 auto;
	color: @redTwo;
	overflow: hidden;
	text-align: left;
	&:before {
		content: '88888888888888';
		position: absolute;
		top: 0;
		left: 0;
		color: @redOne;
		opacity: 0.3;
	}
	.digits {
		position: relative;
	}
	&.right {
		text-align: right;
		&:before {
			right: 0;
		}
	}
}

//
.mainRotator {
	float: left;
}

.sequenceButtons {
	clear: both;
	padding: @baseline * 2 0;
	&:after {
		.clear-float;
	}
	.beat {
		float: left;
		width: 25%;
		max-width: @baseline * 10;
		.light {
			margin: @baseline auto;
		}
	}
}

//buttons
.button {
	text-decoration: none;
	display: inline-block;
	&.style1 {
		height: @baseline * 4;
		width: @baseline * 4.4;
		.btn();
		color: @greyThree;
		font-size: 1.9em;
		text-align: center;
	}
	&.rotator {
		.btn();
		.circle(@baseline * 10);
		position: relative;
		&:before {
			background: @greyThree;
			.circle(@baseline);
			content: '';
			top: @baseline * 2;
			left: @baseline * 2;
			position: absolute;
			opacity: 0.2;
		}
	}
	&.step {
		background: @greyTwo;
		.btn();
		padding-bottom: 90%;
		display: block;
		margin: 0 @baseline @baseline * 1.5;
		max-width: @baseline * 10;
		overflow: hidden;
		position: relative;
		&.selected {
			.btn-selected();
		}
		&.active {
			.btn-active();
		}
	}
}