.toolbar {
    display: flex;
    margin-bottom: @baseline * 5;
    .toolbar-item {
        .item-title {
            margin: 0 0 @baseline * 2;
        }
        &.play-pause {
            width: 100px;
            margin-right: 10px;
            .button {
                height: 70px;
                width: 100px;
            }
        }
        &.tempo {
            width: 100px;
        }
    }
}