.toolbar {
    display: flex;
    margin-bottom: @baseline * 5;
    .toolbar-item {
        margin-right: 10px;
        .item-title {
            margin: 0 0 @baseline * 2;
        }
        &.play-pause {
            width: 97px;
            .button {
                height: 70px;
                width: 100px;
            }
        }
        &.tempo {
            width: 70px;
            text-align: center;
        }
        &.tempo-display {
            width: 97px;
            height: 70px;
        }
    }
}