.toolbar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: @baseline * 5;
    .toolbar-item {
        margin-right: 10px;
        height: 80px;
        text-align: center;
        .title {
            margin: 0 0 @baseline * 2;
        }
        &.play-pause {
            width: 60px;
            .button {
                height: 55px;
                width: 100%;
            }
        }
        &.tempo {
            width: 40px;
        }
        &.swing {
            width: 40px;
        }
        &.bank-selector {
            width: 160px;
            .banks-available {
                display: flex;
                flex-wrap: wrap;
                .button {
                    margin: @baseline;
                    width: 36px;
                }
            }
        }
        &.tempo-display {
            width: 80px;
        }
    }
}

.break-mobile-landscape(){
    .toolbar {
        .toolbar-item {
            &.play-pause {
                width: 97px;
                .button {
                    height: 70px;
                    width: 100%;
                }
            }
        }
        &.tempo-display {
            width: 97px;
        }
        &.tempo {
            width: 70px;
        }
    }
}