@grid-size-default: 35px;

.grid-container {
  position: relative;
  display: grid;
  max-width: 100%;
  overflow: hidden;
  grid-template-columns: @grid-size-default auto;
  grid-template-rows: @grid-size-default auto;
  &.grid-container-show-scroll-x {
    grid-template-columns: @grid-size-default auto @grid-size-default;
    .grid-scroll-x {
      display: block;
    }
  }
  &.grid-container-show-scroll-y {
    .grid-scroll-y {
      display: block;
    }
  }
}

.grid-axis {
  &.grid-axis-x {
    grid-column-start: 2;
    display: flex;
    > .grid-axis-item {
      width: @grid-size-default;
      height: @grid-size-default;
      text-align: center;
      padding: 10px 0;
    }
  }
  &.grid-axis-y {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    > .grid-axis-item {
      width: @grid-size-default;
      height: @grid-size-default;
      text-align: center;
      padding: 10px 0;
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  .grid-row {
    display: flex;
    > .grid-item {
      width: @grid-size-default;
      height: @grid-size-default;
    }
  }
}

.grid-scroll {
  display: none;
  &.grid-scroll-x {
    grid-column: span 2;
  }
  &.grid-scroll-y {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}