.channels {
	display: block;
	margin: 0 0 @baseline * 5;
}

.channel {
	text-align: center;
	padding: 0 @baseline * 2;
	display: none;
	&.selected {
		display: block;
	}
	.select-button {
		display: none;
	}
	.channel-item {
		margin: 0 0 @baseline * 4;
		
		.item-title {
			margin-left: -(@baseline * 2);
			margin-right: -(@baseline * 2) + 1;
			&.light {
				margin-left: 0;
				margin-right: 0;
			}
		}
		.item-value {
			margin: 0 0 @baseline;
		}

		&.rotator {
			max-width: 100px;
		}
	}
	.channel-tray {
		display: flex;
		margin: @baseline * 5 0;
		flex-wrap: wrap;
		justify-content: space-between;
		> * {
			width: 25%;
		}
		> .button {
			width: 48%;
			margin-left: 1%;
			margin-right: 1%;
			font-size: 1.3em;
			height: auto;
		}
	}
	.button {
		width: 70%;
		height: 25px;
	}
}

.break-tablet-landscape({
	.channels {
		display: flex;
	}

	.channel {
		display: block;
		.select-button {
			display: inline-block;
		}
		.channel-tray {
			> * {
				width: 50%;
			}
		}
	}
});