.channels {
	display: flex;
	margin: 0 0 @baseline * 5;
}

.channel {
	border-right: 1px solid @grey;
	text-align: center;
	padding: 0 @baseline * 2;
	&:first-child {
		border-left: 1px solid @grey;
	}
	.channel-item {
		margin: 0 0 @baseline * 4;
		
		.item-title {
			background: @dark-grey;
			color: @orange;
			text-transform: uppercase;
			font-weight: bold;
			padding: 2px;
			margin: 0 -(@baseline * 2 + 1) @baseline;
			border-left: 1px solid @white;
			border-right: 1px solid @white;
			&.light {
				background: @light-grey;
				color: @dark-grey;
				margin-left: 0;
				margin-right: 0;
			}
		}
		.item-value {
			margin: 0 0 @baseline;
		}
	}
	.channel-tray {
		display: flex;
		margin: @baseline * 5 0;
	    flex-wrap: wrap;
		> * {
			width: 50%;
		}
	}
}