.pattern-beat {
	width: 25%;
	display: flex;
    flex-direction: column;
    align-items: center;
	.indicator {
		width: 5px;
		height: 5px;
		display: block;
		background: @red-transparency;
		border-radius: 50%;
		margin-bottom: @baseline * 2;
		&.on {
			background: @red;
		}
	}
	.button {
		width: 50px;
		height: 50px;
		display: block;
		margin-bottom: @baseline * 4;
		background: @red-transparency;
		span {
			.hide-text;
		}
	}
	&.selected {
		.button {
			background: @red;
		}
	}
}

.break-mobile-landscape {
	.pattern-beat {
		flex-grow: 1;
	}
}