.sound-selector {
  h4 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 0 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 10px 0;
      font-size: 1.4em;
      border-bottom: 1px solid @grey-transparency;
    }
  }
}