.default-input {
  border: 0 none;
  border-bottom: 2px solid @grey;
  font-size: 2em;
  width: 150px;
  padding: 5px;
  transition: border-bottom-color 300ms ease;
  &:focus {
    border-bottom: 2px solid @blue;
  }
}