//resets
.clear-float(){
	display: table;
	content: " ";
	clear: both;
}

.hide-text(){
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.render-icon(@url, @height, @width){
    content: "";
    display: inline-block;
    background-image: url(@url);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: @height;
    width: @width;
}