.selector-container {
  .visual-selector {
    display: flex;
    align-items: center;
    border: 1px solid @dark-grey;
    text-align: center;
    .selector-options {
      flex-grow: 1;
      width: calc(100% - 28px);
      .selector-option {
        display: none;
        padding: 5px;
        .selector-option-label {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }
        &.selected {
          display: block;
        }
      }
    }
    .selector-buttons {
      display: flex;
      flex-direction: column;
      .button {
        background: @dark-grey;
        border: 0 none;
        padding: 0 4px;
      }
    }
  }
}