.instrument-selector {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  > li {
    width: 60px;
    padding: 0 6px;
    .button {
      &:before {
        content: "";
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: @red-transparency;
        display: block;
        margin: 0 auto 3px;
      }
      border: 0 none;
      font-size: 10px;
      text-transform: uppercase;
      padding: 0;
      background: 0;
    }
  }
}