.instrument-selector {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  > li {
    width: 60px;
    padding: 0 6px;
    position: relative;
    .button {
      border: 0 none;
      font-size: 10px;
      text-transform: uppercase;
      padding: 0;
      background: 0;
      outline: 0;
      span {
        transform: translateY(0px);
        transition: transform 200ms ease, filter 200ms;
      }
      &:hover,
      &:focus {
        span {
          transform: translateY(-2px);
        }
      }
    }
    .delete-instrument-button {
      position: absolute;
      background: @dark-grey;
      top: -2px;
      border-radius: 50%;
      height: 19px;
      width: 19px;
      right: -2px;
      border: 2px solid @white;
      span {
        height: 15px;
        width: 15px;
        margin: 0;
      }
      &:hover,
      &:focus {
        span {
          transform: none;
        }
      }
    }
  }
  .add-instrument {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    ul {
      clip: rect(0px, 0px, 0px, 0px);
      transition: opacity 300ms, clip 0ms linear 300ms;
      opacity: 0;
      padding: 0;
      position: absolute;
      background: @white;
      border: 1px solid @grey;
      border-radius: 2px;
      top: 120%;
      right: -10px;
      &.open {
        clip: rect(-11px, 500px, 500px, -11px);
        opacity: 1;
        transition: opacity 300ms, clip 0ms linear 0ms;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        right: 13px;
        top: -11px;
        .arrow-up(10px, @grey);
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 13px;
        top: -10px;
        .arrow-up(10px);
      }
    }
    .add-instrument-button {
      white-space: nowrap;
      padding: 9px 15px;
      width: 100%;
      text-align: left;
      outline: 0;
      text-transform: none;
      font-size: 16px;
    }
    li {
      list-style: none;
      .button {
        transition: background-color 300ms;
        &:hover,
        &:focus {
          background-color: @light-grey;
        }
      }
    }
  }
}